html, body{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

html {
    background-color: #DCC7BE;
}

body {
    box-sizing: border-box;
    margin: auto;
    margin-top: 1em;
    width: 600px;
    background-color: #fff;
    border: 1px solid #1F271B;
    border-radius: 8px;
    box-shadow: 5px 5px 0 #1F271B;
    font-family: monospace, Courier;
}

.header, .log-de-informacoes{
    color: #000;
    margin: 16px;
    text-shadow: 2px 2px 4px #00000077;
}

.log-de-informacoes{
    box-sizing: border-box;
    height: 40px;
    margin-bottom: 23px;
    font-family: "Lucida Console", Courier, monospace;
}

#conteiner{
    display: flex;   
    flex-wrap: wrap;
    width: 30em;
    height: 30em;
    margin-bottom: 16px;
    overflow: hidden;  
    cursor: pointer;
}

.campo{
    box-sizing: border-box;
    width: 33.33%;
    height: 33.33%;
}

.vertical{
    border-left: 8px solid #000;
    border-right: 8px solid #000;
}

.horizontal{
    border-top: 8px solid #000;
    border-bottom: 8px solid #000;
}

.adicionaX::before {
    content: "X";
    color: #000;
    font-family:    cursive, "Lucida Console", monospace, Courier;
    font-size: 7em;
}

.adicionaO::before {
    content: "O";
    color: #000;
    font-family: cursive, "Lucida Console", monospace, Courier;
    font-size: 7em;
}

.adicionaXred::after {
    content: "X";
    color: green;
    font-family: cursive, "Lucida Console", monospace, Courier;
    font-size: 7em;
}

.adicionaOred::after {
    content: "O";
    color: green;
    font-family: cursive, "Lucida Console", monospace, Courier;
    font-size: 7em;
}

.animateWin{
    transform: scale(1.4);
    transition: transform 400ms cubic-bezier(0.47, 0.23, 0.21, 2.64);
    cursor: pointer;
    color: green;
}

.animateGameOver{
    transform: scale(1.4);
    transition: transform 400ms cubic-bezier(0.47, 0.23, 0.21, 2.64);
    cursor: pointer;
    color: red;
}
.hover:hover{
    background-color: #2d333511;
    width: 33.33%;
    height: 33.33%;
}