body{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.header, .log-de-informacoes{
    color: #FFF;
    padding: 6px 32px;
    margin: 10px;
    background-color: rgb(0, 10, 104);
    box-shadow: 5px 5px 3px #00000088;
    border-radius: 50%;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.log-de-informacoes{
    box-sizing: border-box;
    height: 40px;
    margin-bottom: 20px;
}

#conteiner{
    display: flex;   
    flex-wrap: wrap;
    width: 360px;
    height: 360px;
    margin: auto;
    box-shadow: 0 0 15px #666;
    border-radius: 2%;
    overflow: hidden;  
    cursor: pointer;
}

.campo{
    box-sizing: border-box;
    width: 33.33%;
    height: 33.33%;
    background-color: #EEEEEE77;
    
}

.vertical{
    border-left: 4px solid #000;
    border-right: 4px solid #000;
}

.horizontal{
    border-top: 4px solid #000;
    border-bottom: 4px solid #000;
}

.adicionaX::before {
    content: "X";
    color: #000;
    font-family: cursive;
    font-size: 80px;
}

.adicionaO::before {
    content: "O";
    color: #000;
    font-family: cursive;
    font-size: 80px;
}

.adicionaXred::after {
    content: "X";
    color: green;
    font-family: cursive;
    font-size: 80px;
}

.adicionaOred::after {
    content: "O";
    color: green;
    font-family: cursive;
    font-size: 80px;
}

.animateClass{
    transform: scale(1.1);
    background-color: green;
}