html, body, main{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

html {
    background-color: #D8E4FF;
    height: -webkit-fill-available;
}

main {
    box-sizing: border-box;
    width: 38em;
    background-color: #fff;
    border: 1px solid #1F271B;
    border-radius: 8px;
    box-shadow: 4px 4px 0 #31E981;
    font-family: monospace, Courier;
}

.header, .log-de-informacoes{
    color: #00120B;
    margin: 8px 16px 16px;
    text-shadow: 2px 2px 4px #00120B77;
}

.log-de-informacoes{
    box-sizing: border-box;
    height: 40px;
    margin-bottom: 16px;
    font-family: "Lucida Console", Courier, monospace;
}

#conteiner{
    display: flex;   
    flex-wrap: wrap;
    width: 34em;
    height: 34em;
    margin-bottom: 16px;
    overflow: hidden;  
    cursor: pointer;
}

.campo{
    box-sizing: border-box;
    width: 33.33%;
    height: 33.33%;
}

.vertical{
    border-left: 8px solid #00120B;
    border-right: 8px solid #00120B;
}

.horizontal{
    border-top: 8px solid #00120B;
    border-bottom: 8px solid #00120B;
}

.adicionaX::before {
    content: "X";
    color: #000;
    font-family:    cursive, "Lucida Console", monospace, Courier;
    font-size: 7em;
}

.adicionaO::before {
    content: "O";
    color: #000;
    font-family: cursive, "Lucida Console", monospace, Courier;
    font-size: 7em;
}

.adicionaXred::after {
    content: "X";
    color: #31E981;
    font-family: cursive, "Lucida Console", monospace, Courier;
    font-size: 7em;
}

.adicionaOred::after {
    content: "O";
    color: #31E981;
    font-family: cursive, "Lucida Console", monospace, Courier;
    font-size: 7em;
}

.animateWin{
    transform: scale(1.4);
    transition: transform 400ms cubic-bezier(0.47, 0.23, 0.21, 2.64);
    cursor: pointer;
    color: #1ac263;
}

.animateGameOver{
    transform: scale(1.4);
    transition: transform 400ms cubic-bezier(0.47, 0.23, 0.21, 2.64);
    cursor: pointer;
    color: #DB504A;
}
.hover:hover{
    background-color: #2d333511;
    width: 33.33%;
    height: 33.33%;
}